// ==========================================================================
//  COLORS
// ==========================================================================
$root-background: #fff;
$body-background: #fff;

$primary-color: #44cbc7;

// ==========================================================================
//  TYPOGRAPHY
// ==========================================================================

$root-color: #0A0A0A;

$root-lineheight: 1.3;
$root-size: 16px;
$root-weight: normal;

@font-face {
	font-family: lato-light;
	src: url('/fonts/lato-light.eot'); // IE9 compat
	src: url('/fonts/lato-light.eot?#iefix') format('embedded-opentype'), // IE8 and below
		url('/fonts/lato-light.woff') format('woff'), // standards
		url('/fonts/lato-light.ttf') format('truetype'), // Safari, Android, iOS
		url('/fonts/lato-light.svg##lato-light') format('svg'); // legacy iOS
}
@font-face {
	font-family: lato;
	src: url('/fonts/lato-regular.eot'); // IE9 compat
	src: url('/fonts/lato-regular.eot?#iefix') format('embedded-opentype'), // IE8 and below
		url('/fonts/lato-regular.woff') format('woff'), // standards
		url('/fonts/lato-regular.ttf') format('truetype'), // Safari, Android, iOS
		url('/fonts/lato-regular.svg##lato-regular') format('svg'); // legacy iOS
}
@font-face {
	font-family: lato-bold;
	src: url('/fonts/lato-bold.eot'); // IE9 compat
	src: url('/fonts/lato-bold.eot?#iefix') format('embedded-opentype'), // IE8 and below
		url('/fonts/lato-bold.woff') format('woff'), // standards
		url('/fonts/lato-bold.ttf') format('truetype'), // Safari, Android, iOS
		url('/fonts/lato-bold.svg##lato-bold') format('svg'); // legacy iOS
}

$root-family: lato-light, sans-serif;

$heading-color: $root-color;
$heading-family: lato-light, sans-serif;
$heading-weight: normal;

// ==========================================================================
//  BREAKPOINTS
// ==========================================================================

// Specifying breakpoints in ems accounts changes in content size.
$sm:                    35rem !default;
$md:                    48rem !default;
$lg:                    64rem !default;
$xl:                    90rem !default;

// ==========================================================================
//  WRAPPER
// ==========================================================================

$wrapper-width: 90rem;